@charset "UTF-8";

#sub-title {
    font-size: 25px;
    color: black;
    font-weight: bolder;
}

#trend1 { 
    border: 1px solid black;
    padding: 35px;
}

.red-bold {
    font-size: 18px;
    color: rgb(180, 11, 11);
    font-weight: bolder;
    line-height: 35px;
    
}