@charset "UTF-8";


.usa {
    width: 200px;
    height: 120px;
    border: 1px solid black;
    background: repeating-linear-gradient(to top, #BF0A30 0%, #BF0A30 8%, white 8px, white 15.5% );
    vertical-align: top;
    
}


#star {
    width: 80px;
    height: 65px;
    background-color: #002664;
    position: absolute;
    left: 2px;
    top: 2px;
    color: white;
    font-size: 5pt;
    text-align: center;
    vertical-align: middle;

}

#star_img {
    width: 5%; 
    padding-left: 3px; 
    padding-right: 3px; 
}

.rus {
    width: 200px;
    height: 120px;
    border: 1px solid black;
    background: repeating-linear-gradient(to bottom, white, white 33.3%, rgb(0,57,166 ) 33.3%, rgb(0,57,166 ) 66.6%, rgb(213,43,30) 66.6%, rgb(213,43,30) 100% );
}

#bg1 {
    width: 200px;
    height: 120px;
    border: 1px solid black;
    background-image: url(../img/ferdinand-stohr-PeFk7fzxTdk-unsplash.jpg);
    background-size: cover;  
    background-repeat: no-repeat;
}

#bg2 {
    width: 200px;
    height: 120px;
    border: 1px solid black;
    background-image: url(../img/michael-parulava-L4jrg4c7928-unsplash.jpg);
    background-size: cover;  
    background-repeat: no-repeat;
}


#grad1 {
    height: 200px;
    border: 1px solid black;
    background: radial-gradient(skyblue, blue, darkblue);
}

#grad2 {
    height: 200px;
    border: 1px solid black;
    background: radial-gradient(closest-corner at 15% 15%, darkred, red 35%, white);
}